/*  Justin Brierley
    Assignment 6
    Ricky LaFleur
*/

/* 1. Header Styles */
/* 2. Navigation Styles */
/* 3. Heading Styles */
/* 4. Body Styles */
/* 5. Footer Styles */


html, body{
    margin: 0;
    padding: 0;
}

/* 1. Header Styles */
/* 2. Navigation Styles */
/* 3. Heading Styles */
h3{
    font-size: 2vw;
}
/* 4. Body Styles */
header{
    text-align: center;
}

.wrapper {
    background-color: antiquewhite;
    width: 75%;
    margin: 5% auto;
    box-shadow: black 2px 2px 8px 2px;
    text-align: center;
}
section {
    border: 2px solid black;
}

/* Accordion */

article p {
    text-align: justify;
    font-size: 1.25vw;
    line-height: 1.15em;
    padding: 10px
}

img {
    margin: 0 2% 1% 2%;
    width: 25%;
    float: left;
    box-shadow: black 2px 2px 8px 2px;
}
#grade10{
    width: 43.25%
}
ul {
    list-style-type: none;
}
li{
    margin-top: 1%;
}
table {
    margin: 1% auto;
    width: 75%;
}
th{
    text-align: left;
}
td{
    background-color: white;
    border: 1px solid black;
}


.friends{
    width: 35%;
    margin-left: 5%;
    float: left
}
.noFloat{
    float: none;
}

.accordion, .accordion2{
    width:70%;
    margin:0 auto;
    margin-bottom: 2%;
}

/* accordion heading */
.accordion h1, .accordion2 h1{
    font-size:2vw;
    font-weight: normal;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    background-color:slategray;
    padding-top: 7px;
    padding-bottom: 7px;
    border:1px solid black;
    border-radius:3px;
}
.accordion h1:hover, .accordion2 h1:hover{
    cursor:pointer;
}

/* accordion section content */
.accordion div, .accordion2 div{
    display: none;
    padding: 10px;
    line-height:20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}
.accordion-content article {
    margin-bottom: 2%;
}



/* Tab */
.tab-list {
    display: block;
}
.tab-list li {
    display: inline-block;
    background-color: white;
    padding: 7px;
    margin-left: 1.25%;
}
.tab-panel {
    display:none;
    background-color: white;
}
.tab-panel.active {
    display: block;
}

.tab-panel {
    margin-top: -1.5%;
    overflow: hidden;
}
dt{
    font-weight: bold;
    text-align: left;
}
dd {
    text-align: left;
}


/* 5. Footer Styles */
footer{
    font-size: 2vw;
    text-align: center;
    padding: 20px;
    background-color: slategray;
}
